$white-regular: #E2E2E2;
$black-neutral: #010101;
$gray-neutral: #676767;
$gray-tertiary: #393939;
$green-dark: #3B5948;
$green-primary: #3B5948CC;
$yellow-primary: #978640CC;



// SPACING
$psace-20: calc(8px + 0.625vw);